@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background-image:url("../assets/bg.png");
    background-repeat: no-repeat;
    background-size: 120%;
    color: White;
    font-family: 'Poppins', sans-serif;
}

#scoreboard {
    display: flex;
    justify-content: center;
    font-weight: 900;
    font-size: 70px;
    margin-top: 0;
    margin-bottom: 10px;
}

#container {
    display: flex;
    justify-content: space-evenly;
}

#player-one, #player-two {
    text-align: center;
    height: 480px;
    width: 500px;
    font-size: 40px;
    font-weight: 900;
    border: 3px solid rgb(255, 238, 0);
}

#actionbuttons {
    display: flex;
    justify-content: space-evenly;
    padding-top: 85px; 
    cursor: pointer;
}

#playgame {
    display: flex;
    margin: auto;
    width: 25%;
    cursor: pointer;
}

#buttontext {
    padding-left: 20px;
    font-size: 26px;
    font-weight: 900;
    cursor: pointer;
    text-align: center;
}

.img{
    display: none;
    width: 350px;
}
